.not-found-container {
    text-align: center;
    margin-top: 50px;
}

.not-found-container h1 {
    font-size: 2em;
    color: #333;
}

.not-found-container p {
    font-size: 1.2em;
    color: #666;
}

.not-found-image {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}